@keyframes swipeUpAndFadeIn {
	0% {
		height: 0;
		opacity: 0;
		padding-top: 0;
	}

	100% {
		height: $featuresDescriptionHeight;
		opacity: 1;
		padding-top: 15px;
	}
}

@keyframes swipeDownAndFadeOut {
	0% {
		height: $featuresDescriptionHeight;
		opacity: 1;
		padding-top: 15px;
	}

	100% {
		height: 0;
		opacity: 0;
		padding-top: 0;
	}
}

@keyframes fillBar {
	0% {
		height: 0;
	}

	100% {
		height: 100%;
	}
}
