@keyframes slideInAnimation {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideInAnimationColor {
	0% {
		color: map-get($color-ui, 'black');
	}

	100% {
		color: map-get($color-ui, 'white');
	}
}

@include breakpoint($desktop) {
	@keyframes slideInAnimation {
		0% {
			opacity: 0;
			transform: translateY(30px);
		}

		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
